1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [1]:
# a)
for i in range(1, 100):
  if i % 5 == 0 and i % 3 == 0:
    print("HelloWorld")
  elif i % 3 == 0:
    print("Hello")
  elif i % 5 == 0:
    print("World")

Hello
World
Hello
Hello
World
Hello
HelloWorld
Hello
World
Hello
Hello
World
Hello
HelloWorld
Hello
World
Hello
Hello
World
Hello
HelloWorld
Hello
World
Hello
Hello
World
Hello
HelloWorld
Hello
World
Hello
Hello
World
Hello
HelloWorld
Hello
World
Hello
Hello
World
Hello
HelloWorld
Hello
World
Hello
Hello

In [2]:
# b)
results=[]
for i in range(1, 100):
  if i % 5 == 0 and i % 3 == 0:
    results.append("PythonWorks")
  elif i % 3 == 0:
    results.append("Python")
  elif i % 5 == 0:
    results.append("Works")
results=tuple(results)

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [3]:
def swapwithtmp(a,b):
  temp=a
  a=b
  b=a
  return a,b
def swap(a,b):
  a,b=b,a
  return a,b

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [4]:
from math import sqrt
def distance(u, v):
  return sqrt((v[0] - u[0]) ** 2 + (v[1] - u[1]) ** 2)
print(distance((3, 0), (0, 4)))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [5]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

In [6]:
counts={}
for c in s.lower():
  if c == " ":
    continue
  if c in counts:
    continue
  count = s.lower().count(c)
  counts[c] = count
print(counts)

{'w': 4, 'r': 19, 'i': 12, 't': 19, 'e': 20, 'a': 7, 'p': 8, 'o': 15, 'g': 1, 'm': 8, 'h': 11, 'n': 10, 's': 7, 'u': 7, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 3, 'l': 12, 'd': 5, 'v': 2, 'c': 1}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [7]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [8]:
counts = {}
for i in set(l):
  counts[i] = l.count(i)
print(counts)

{1: 1, 3: 2, 5: 1, 8: 1, 9: 1, 10: 1, 16: 1, 18: 1, 19: 1, 20: 3, 24: 1, 30: 1, 31: 2, 33: 1, 34: 2, 36: 3, 37: 1, 39: 1, 41: 1, 42: 2, 45: 3, 47: 1, 50: 2, 51: 3, 53: 1, 54: 1, 55: 1, 56: 2, 57: 1, 58: 1, 63: 2, 64: 1, 66: 2, 70: 3, 72: 1, 74: 1, 75: 1, 79: 1, 81: 1, 82: 1, 84: 4, 85: 3, 86: 1, 87: 1, 88: 1, 89: 2, 90: 1, 91: 3, 92: 1, 94: 1, 95: 1, 96: 1, 98: 1, 99: 1}

Do the same without using user-defined functions, but exploiting only the Python data structures.

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [9]:
def square(x):
  return x**2
def cube(x):
  return x**3
def pow6(x):
  return square(cube(x))

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [10]:
#a
l = []
for x in range(0, 11):
  l.append(cube(x))
print(l)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [11]:
#b
l = [cube(x) for x in range(0, 11)]
print(l)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [12]:
L = [(i,j,int(sqrt(square(i)+square(j)))) for j in range(0,100) for i in range(0, 100) if square(i)+square(j) < 100 and int(sqrt(square(i)+square(j))) == sqrt(square(i)+square(j)) ]

In [13]:
print(L)

[(0, 0, 0), (1, 0, 1), (2, 0, 2), (3, 0, 3), (4, 0, 4), (5, 0, 5), (6, 0, 6), (7, 0, 7), (8, 0, 8), (9, 0, 9), (0, 1, 1), (0, 2, 2), (0, 3, 3), (4, 3, 5), (0, 4, 4), (3, 4, 5), (0, 5, 5), (0, 6, 6), (0, 7, 7), (0, 8, 8), (0, 9, 9)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [14]:
def normalize(t):
  m = max(t)
  return tuple([float(c)/m for c in t])

In [15]:
example=(5,1,2,3,4,6)
print(normalize(example))

(0.8333333333333334, 0.16666666666666666, 0.3333333333333333, 0.5, 0.6666666666666666, 1.0)